<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.datasource">java:/comp/env/jdbc/ivncr</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

		<!-- Default database schema -->
		<property name="hibernate.default_schema">app</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Entities mappings -->
		<mapping class="it.ivncr.erp.model.accesso.AccountEmail" />
		<mapping class="it.ivncr.erp.model.accesso.Permesso" />
		<mapping class="it.ivncr.erp.model.accesso.Ruolo" />
		<mapping class="it.ivncr.erp.model.accesso.Utente" />
		<mapping class="it.ivncr.erp.model.accesso.UtenteAzienda" />

		<mapping class="it.ivncr.erp.model.commerciale.Cliente" />
		<mapping class="it.ivncr.erp.model.commerciale.Contatto" />
		<mapping class="it.ivncr.erp.model.commerciale.Divisa" />
		<mapping class="it.ivncr.erp.model.commerciale.GruppoCliente" />
		<mapping class="it.ivncr.erp.model.commerciale.Indirizzo" />
		<mapping class="it.ivncr.erp.model.commerciale.ObiettivoServizio" />
		<mapping class="it.ivncr.erp.model.commerciale.TipoBusinessPartner" />
		<mapping class="it.ivncr.erp.model.commerciale.TipoContatto" />
		<mapping class="it.ivncr.erp.model.commerciale.TipoIndirizzo" />

		<mapping class="it.ivncr.erp.model.generale.Azienda" />
		<mapping class="it.ivncr.erp.model.generale.Contatore" />
		<mapping class="it.ivncr.erp.model.generale.Paese" />
		<mapping class="it.ivncr.erp.model.generale.Provincia" />

		<mapping class="it.ivncr.erp.model.personale.Addetto" />
		<mapping class="it.ivncr.erp.model.personale.AddettoReparto" />
		<mapping class="it.ivncr.erp.model.personale.Armamento" />
		<mapping class="it.ivncr.erp.model.personale.AvanzamentoCarriera" />
		<mapping class="it.ivncr.erp.model.personale.CalibroArma" />
		<mapping class="it.ivncr.erp.model.personale.CaricaSindacale" />
		<mapping class="it.ivncr.erp.model.personale.Ccnl" />
		<mapping class="it.ivncr.erp.model.personale.CertificatoMedico" />
		<mapping class="it.ivncr.erp.model.personale.Corso" />
		<mapping class="it.ivncr.erp.model.personale.DatiSanitari" />
		<mapping class="it.ivncr.erp.model.personale.DecretoGpg" />
		<mapping class="it.ivncr.erp.model.personale.Disciplina" />
		<mapping class="it.ivncr.erp.model.personale.Documento" />
		<mapping class="it.ivncr.erp.model.personale.DurataDocumento" />
		<mapping class="it.ivncr.erp.model.personale.EsercitazioneTiro" />
		<mapping class="it.ivncr.erp.model.personale.EstensioneDecreto" />
		<mapping class="it.ivncr.erp.model.personale.Grado" />
		<mapping class="it.ivncr.erp.model.personale.GradoParentela" />
		<mapping class="it.ivncr.erp.model.personale.GruppoSanguigno" />
		<mapping class="it.ivncr.erp.model.personale.IndirizzoAddetto" />
		<mapping class="it.ivncr.erp.model.personale.InfoSindacali" />
		<mapping class="it.ivncr.erp.model.personale.Istruzione" />
		<mapping class="it.ivncr.erp.model.personale.LibrettoPortoArmi" />
		<mapping class="it.ivncr.erp.model.personale.LicenzaPortoArmi" />
		<mapping class="it.ivncr.erp.model.personale.Lingua" />
		<mapping class="it.ivncr.erp.model.personale.LinguaConosciuta" />
		<mapping class="it.ivncr.erp.model.personale.LivelloCcnl" />
		<mapping class="it.ivncr.erp.model.personale.LivelloLingua" />
		<mapping class="it.ivncr.erp.model.personale.ModelloArma" />
		<mapping class="it.ivncr.erp.model.personale.PosizioneLavorativa" />
		<mapping class="it.ivncr.erp.model.personale.PosizioneMilitare" />
		<mapping class="it.ivncr.erp.model.personale.Qualifica" />
		<mapping class="it.ivncr.erp.model.personale.RecapitoEmail" />
		<mapping class="it.ivncr.erp.model.personale.RecapitoTelefonico" />
		<mapping class="it.ivncr.erp.model.personale.Reparto" />
		<mapping class="it.ivncr.erp.model.personale.RuoloAziendale" />
		<mapping class="it.ivncr.erp.model.personale.SiglaSindacale" />
		<mapping class="it.ivncr.erp.model.personale.SistemaLavoro" />
		<mapping class="it.ivncr.erp.model.personale.StatoArma" />
		<mapping class="it.ivncr.erp.model.personale.StatoCivile" />
		<mapping class="it.ivncr.erp.model.personale.StatoFamiglia" />
		<mapping class="it.ivncr.erp.model.personale.TipoArma" />
		<mapping class="it.ivncr.erp.model.personale.TipoCertificatoMedico" />
		<mapping class="it.ivncr.erp.model.personale.TipoContratto" />
		<mapping class="it.ivncr.erp.model.personale.TipoDocumento" />
		<mapping class="it.ivncr.erp.model.personale.TipoEsercitazioneTiro" />
		<mapping class="it.ivncr.erp.model.personale.TipoIndirizzoAddetto" />
		<mapping class="it.ivncr.erp.model.personale.TipoPosizioneMilitare" />
		<mapping class="it.ivncr.erp.model.personale.TipoRecapitoTelefonico" />
		<mapping class="it.ivncr.erp.model.personale.TipoRinnovoDecretoGpg" />
		<mapping class="it.ivncr.erp.model.personale.TipoSistemaLavoro" />
		<mapping class="it.ivncr.erp.model.personale.TitoloStudio" />
		<mapping class="it.ivncr.erp.model.personale.VisitaCollegiale" />
		<mapping class="it.ivncr.erp.model.personale.VisitaMedicoCompetente" />

	</session-factory>

</hibernate-configuration>
