<menu>

	<submenu label="Impostazioni" icon="ui-icon-wrench">

		<menuitem value="Cambia password" url="/faces/cambiopassword/index.xhtml" /> 
        
        <separator/>
        
       	<submenu label="Accesso al sistema">
       		<menuitem value="Utenti" url="/faces/accesso/utenti/index.xhtml" permission="utente:list"/>
       		<menuitem value="Ruoli" url="/faces/accesso/ruoli/index.xhtml" permission="ruolo:list"/>
       		<menuitem value="Permessi" url="/faces/accesso/permessi/index.xhtml" permission="permesso:list"/>
       	</submenu>
        	
	</submenu>

</menu>