<menu>

	<submenu label="Personale" icon="ui-icon-wrench">
			
	</submenu>


	<submenu label="Commerciale" icon="ui-icon-wrench">
		
		<menuitem value="Gestione clienti" url="/faces/commerciale/clienti/index.xhtml" />
		
	</submenu>


	<submenu label="Impostazioni" icon="ui-icon-wrench">

		<menuitem value="Cambia password" url="/faces/accesso/cambiopassword/index.xhtml" /> 
        
        <separator/>
        
       	<submenu label="Accesso al sistema">
       		<menuitem value="Utenti" url="/faces/accesso/utenti/index.xhtml" permission="utente:list"/>
       		<menuitem value="Ruoli" url="/faces/accesso/ruoli/index.xhtml" permission="ruolo:list"/>
       		<menuitem value="Permessi" url="/faces/accesso/permessi/index.xhtml" permission="permesso:list"/>
       	</submenu>
        	
	</submenu>

</menu>