.ui-widget,
.ui-widget .ui-widget {
    font-size: .95em !important;
}

.ui-datatable th {
	vertical-align: top;
}

.ui-datatable th.ui-selection-column {
	vertical-align: bottom;
	text-align: center;
}

.ui-datatable td.ui-selection-column {
	vertical-align: middle;
	text-align: center;
}

.ui-datatable .ui-sortable-column-icon {
	float: left;
	margin-top: 0px;
}

.ui-menu {
	padding: 0 0 0 0;	
}

.ui-menu .ui-menuitem-text {
	font-size: 1.2em !important;
}

.ui-menu.ui-menubar {
	margin-bottom: 1em;
}
                
.title {
	height: 1em;
	padding: .2em 0 .4em .5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
}

.form-panel .form-header,
.multi-col-layout .form-header {
	
	font-style: italic;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
	max-width: 300px;
}

.form-panel .form-footer {
	
	padding-top: 1em;
	padding-bottom: 1em;
}

.multi-col-layout > tbody > tr {
	border: none;
}

.multi-col-layout > tbody > tr > td {
	border: none;
	vertical-align: top;
}

.form-panel > tbody > tr {
	border: none;
}

.form-panel > tbody > tr > td {
	border: none;
	vertical-align: middle;
}

.form-panel .ui-inputtext,
.form-panel .ui-inputtextarea,
.form-panel .ui-password,
.form-panel .ui-selectonemenu,
.form-panel .ui-autocomplete {
	width: 300px;
}

.info-label {
	font-style: italic;
	max-width: 300px;
}

.ui-confirm-dialog {
	max-width: 500px;
}

.small-datatable .ui-sortable-column,
.small-datatable .ui-widget-content,
.small-datatable th,
.small-datatable tbody td {
	font-size: 12px;
}

.small-datatable .ui-inputtext {
	width: 150px;
}

.mattinale-datatable tbody td {
	padding: 0px;
}